<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <% if admin_signed_in? %>
        <%= link_to admins_dashboard_path, class: "btn btn-ghost normal-case text-xl" do %>
          <%= image_tag "logo.png", alt: "幸美商事 ロゴ", class: "w-10 h-10" %>
          点呼システム
        <% end %>
      <% else %>
        <%= link_to root_path, class: "btn btn-ghost normal-case text-xl" do %>
          <%= image_tag "logo.png", alt: "幸美商事 ロゴ", class: "w-10 h-10" %>
          点呼システム
        <% end %>
      <% end %>
    </div>
    <!-- ハンバーガーメニューボタン -->
    <div class="flex-none lg:hidden">
      <button class="btn btn-square btn-ghost" id="menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    
    <!-- メニュー -->
    <div class="flex-none hidden lg:flex" id="menu">
      <ul class="menu menu-horizontal p-0 mr-2">
        <% if admin_signed_in? %>
          <li class="m-1">
            <%= link_to 'QRコード表示', root_path, class: "btn btn-primary", style: "color: #DCFFB8;" %>
          </li>
          <li class="m-1">
            <%= link_to 'ログアウト', admins_logout_path, data: { turbo_method: :delete }, class: "btn btn-outline btn-primary" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>

  <!-- モバイル用のメニュー -->
  <div class="lg:hidden hidden" id="mobile-menu">
    <ul class="menu menu-vertical p-0">
      <% if admin_signed_in? %>
        <li class="m-1">
          <%= link_to 'QRコード表示', root_path, class: "btn btn-primary", style: "color: #DCFFB8;" %>
        </li>
        <li class="m-1">
          <%= link_to 'ログアウト', admins_logout_path, data: { turbo_method: :delete }, class: "btn btn-outline btn-primary" %>
        </li>
      <% end %>

    </ul>
  </div>
</header>
