<%= form_with(model: [:admins, user, alarm]) do |f| %>
  <div class="card bg-base-100 shadow-xl p-4">
    <!-- 通知の有効・無効 -->
    <div class="form-control mb-4">
      <label class="cursor-pointer">
        <%= f.check_box :enabled, class: "checkbox" %>
        <span class="label-text">通知を有効にする</span>
      </label>
    </div>
    <!-- タイトル入力 -->
    <div class="form-control mb-4">
      <%= f.label :title, "タイトル", class: "label" %>
      <%= f.text_field :title, class: "input input-bordered" %>
    </div>

    <!-- 時刻入力 -->
    <div class="form-control mb-4">
      <%= f.label :time, "通知時刻", class: "label" %>
      <%= f.time_field :time, class: "input input-bordered", required: true %>
    </div>

    <!-- 毎日通知のチェックボックス -->
    <div class="form-control mb-4">
      <label class="cursor-pointer">
        <%= f.check_box :everyday, class: "checkbox" %>
        <span class="pl-3 label-text">毎日通知する</span>
      </label>
    </div>

    <!-- 曜日選択 -->
    <div class="form-control mb-4">
      <%= f.label :days, "曜日指定", class: "label" %>
      <div class="flex flex-wrap gap-2">
        <label class="cursor-pointer">
          <%= f.check_box :monday, class: "checkbox" %>
          <span class="label-text">月曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :tuesday, class: "checkbox" %>
          <span class="label-text">火曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :wednesday, class: "checkbox" %>
          <span class="label-text">水曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :thursday, class: "checkbox" %>
          <span class="label-text">木曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :friday, class: "checkbox" %>
          <span class="label-text">金曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :saturday, class: "checkbox" %>
          <span class="label-text">土曜</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :sunday, class: "checkbox" %>
          <span class="label-text">日曜</span>
        </label>
      </div>
    </div>

    <!-- 通知方法（メール、LINE）のチェックボックス -->
    <div class="form-control mb-4">
      <%= f.label :notification_methods, "通知方法", class: "label" %>
      <div class="flex gap-2">
        <label class="cursor-pointer">
          <%= f.check_box :email, class: "checkbox" %>
          <span class="label-text">メール</span>
        </label>
        <label class="cursor-pointer">
          <%= f.check_box :line, class: "checkbox" %>
          <span class="label-text">LINE</span>
        </label>
      </div>
    </div>

    <!-- 送信ボタン -->
    <div class="card-actions justify-end">
      <%= f.submit msg, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
