<%= render "shared/header" %>
<div class="hero min-h-screen bg-base-200">
  <div class="w-screen px-4 my-12 max-w-sm">
    <h1 class="text-3xl font-bold text-center mb-4">パスワードを設定</h1>
    <p class="mb-3 text-sm">※ 半角英数字で設定してください</p>
    <p class="mb-3 text-sm">※ 8~255文字以内で設定してください</p>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :invitation_token, readonly: true %>
          <% if resource.errors.any? %>
            <div id="error_explanation" data-turbo-cache="false">
              <ul>
                <% resource.errors.full_messages.each do |message| %>
                  <li class="text-xs text-red-600"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <% if f.object.class.require_password_on_accepting %>
            <div class="form-control">
              <%= f.label :password, class: "label" do %>
                <span class="label-text">新しいパスワード</span>
              <% end %>
              <%= f.password_field :password, class: "input input-bordered" %>
            </div>

            <div class="form-control">
              <%= f.label :password_confirmation, class: "label" do %>
                <span class="label-text">新しいパスワードを確認</span>
              <% end %>
              <%= f.password_field :password_confirmation, class: "input input-bordered" %>
            </div>
          <% end %>

          <div class="form-control mt-6">
            <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
