<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "幸美商事 点呼システム" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path('logo.png') %>
    <!-- TailwindCSS + DaisyUI -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- TailwindCSS + DaisyUI -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="w-full rounded-none bg-[#213F7E] text-center py-1 text-white text-sm"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="w-full rounded-none bg-[#DC444B] text-center py-1 text-white text-sm"><%= alert %></p>
    <% end %>
    <%= yield %>
    <script>
      document.getElementById('menu-toggle').addEventListener('click', function() {
        var menu = document.getElementById('mobile-menu');
        if (menu.classList.contains('hidden')) {
          menu.classList.remove('hidden');
        } else {
          menu.classList.add('hidden');
        }
      });
    </script>

  </body>
</html>
