<%= render "shared/header" %>
<div class="hero bg-base-200">
  <div class="w-screen px-4 my-12 max-w-xl">
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src="https://www.yukimi-corp.com/image/Company_index.jpg" alt="幸美商事" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Welcome！</h2>
        <p>点呼システムは従業員へ勤務前の点呼を自動で行うシステムです。クイックガイドで使い方を確認いただけます。</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">クイックガイドを見る</button>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto bg-base-100 shadow-xl p-2 mt-5 mb-3 rounded-lg">
      <h2 class="mb-3 mt-2 text-lg font-bold pl-3">登録従業員情報</h2>
      <% if @users.present? %>
        <table class="table table-xs">
          <thead>
            <tr>
              <th></th>
              <th>氏名</th>
              <th>所属</th>
              <th>メニュー</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <th><%= user.id %></th>
                <td class="text-blue-500">
                  <%= link_to admins_user_path(user) do %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td>所属情報</td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>氏名</th>
              <th>所属</th>
              <th>メニュー</th>
            </tr>
          </tfoot>
        </table>
      <% end %>
    </div>
    <div class="overflow-x-auto bg-base-100 shadow-xl p-2 mt-5 mb-3 rounded-lg">
      <h2 class="mb-3 mt-2 text-lg font-bold pl-3">稼働している点呼</h2>
      <% @alarms.each do |alarm| %>
        <details class="group border border-gray-300 rounded-lg mb-2">
          <summary class="cursor-pointer bg-gray-100 p-3 rounded-t-lg group-open:bg-gray-200">
            <%= alarm.time.strftime("%H:%M") %> <%= alarm.enabled? ? "点呼ON": "点呼OFF" %>
          </summary>
          <div class="p-3 bg-gray-50 group-open:bg-white rounded-b-lg">
            <p>通知対象者: <%= alarm.user.name %></p>
            <p><%= alarm.title.present? ? alarm.title : "タイトルなし" %></p>
            <!-- 通知曜日の表示 -->
            <p>通知する曜日:
              <% days = [] %>
              <% days << "月曜" if alarm.monday %>
              <% days << "火曜" if alarm.tuesday %>
              <% days << "水曜" if alarm.wednesday %>
              <% days << "木曜" if alarm.thursday %>
              <% days << "金曜" if alarm.friday %>
              <% days << "土曜" if alarm.saturday %>
              <% days << "日曜" if alarm.sunday %>
              <% if alarm.everyday %>
                毎日
              <% elsif days.any? %>
                <%= days.join(", ") %>
              <% else %>
                設定なし
              <% end %>
            </p>

            <!-- 通知方法の表示 -->
            <p>通知方法:
              <%= alarm.email ? "メール" : "" %>
              <%= alarm.line ? (alarm.email ? "、" : "") + "LINE" : "" %>
              <% if !alarm.email && !alarm.line %>
                設定なし
              <% end %>
            </p>
            <!-- 点呼のオン/オフボタン -->
            <div class="mt-4">
              <%= link_to alarm.enabled ? "点呼をオフにする" : "点呼をオンにする", api_user_alarm_path(alarm.user, alarm), data: {turbo_method: :patch}, class: "btn btn-outline btn-sm" %>
            </div>

            <!-- 編集ボタン -->
            <div class="mt-2">
              <%= link_to "編集", edit_admins_user_alarm_path(alarm.user, alarm), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </details>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>